/* 通用样式 */
*,
::before,
::after{
	font-size: 14px;
	margin: 0;
	padding: 0;
	/* 点击高亮 */
	-webkit-tap-highlight-color: transparent;
	/* 盒子模型 */
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/* 统一设置文字 sans-serif 移动端的默认字体 */
	font-family: '微软雅黑',sans-serif;
}

/* input标签 去默认样式 */
input{
	border: none;
	-webkit-appearance: none;
}

/* a标签样式 */
a{
		text-decoration: none;
}

ul,
li{
	list-style: none;
}

/* 清楚浮动 */
.f_l{
	float: left;
}
.f_r{
	float: right;
}
.clearfix::before,
.clearfix::after{
	content:'';
	display: block;
	line-height: 0;
	height: 0;
	visibility: hidden;
	clear: both;
}
/* 边框通用样式 */
.b_l{
	border-left: 1px solid #ccc;
}
.b_r{
	border-right: 1px solid #ccc;
}
.b_t{
	border-top: 1px solid #ccc;
}
.b_b{
	border-bottom: 1px solid #ccc;
}
